---
import SecondaryButton from "../../components/SecondaryButton.astro";
import Layout from "../../layouts/Layout.astro";
const allPosts = await Astro.glob("../blog/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<Layout title="search tags">
    <div
      class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl text-center"
    >
      <h1 class="font-extrabold tracking-tight text-4xl text-green-400">
        Categories
      </h1>
      <div class="flex flex-wrap ml-0 mt-auto">
        {
          tags.map((tag) => (
            <>
              <div class=" mx-1 px-1">
                <SecondaryButton href={`/tags/${tag}`} title={tag} />
              </div>
            </>
          ))
        }
      </div>
    </div>
</Layout>
