---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Technical Coffee Logic ☕">

	<main class=" mt-5 sm:mt-0">
		<Hero/>
	</main>
</Layout>

<style>
	
</style>
