---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/Project-Card.astro";

interface iProject {
  href: string;
  src: string;
  title: string;
  desc: string;
}

const projects = [
  {
    href: "https://genderle.com/",
    src: "/genderle-logo.png",
    title: "Genderle",
    desc: "Like Wordle, but with gender.",
  },

  {
    href: "https://www.kingdompolitics.io",
    src: "/kingdompolitics-logo.ico",
    title: "Kingdom Politics",
    desc: "Helping Monett, MO. elect righteous leaders.",
  },
];
---

<Layout title="Projects" metaDesc="Projects developed and owned by Technical Coffee Logic.">
  <div class="max-w-7xl mx-auto px-4 text-center">
    <div class="space-y-12">
      <div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
        <h1 class="text-4xl font-extrabold tracking-tight text-green-400">
          Projects
        </h1>
      </div>
    </div>
    <ul class="flex flex-col items-center">
      {
        projects.map((project: iProject) => (
          <ProjectCard
            href={project.href}
            src={project.src}
            title={project.title}
            desc={project.desc}
          />
        ))
      }
    </ul>
  </div>
</Layout>
