---
const { href, src, title, desc } = Astro.props;
---

<li
  class="shadow-md shadow-blue-200 p-5 m-5 rounded-lg outline outline-1 outline-green-500 w-80 hover:bg-green-200"
>
  <a href={href}>
    <div class="w-100 flex justify-center m-5">
      <img src={src} class="mx-auto h-20 w-20" />
    </div>

    <div>
      <p class="text-2xl font-extrabold">{title}</p>
      <p>{desc}</p>
      <p class="mt-3">Click to View &rarr;</p>
    </div>
  </a>
</li>
