---
const {href, title} = Astro.props;
---
<p class="text-center">
    <a
      href={href}
      class="inline-block rounded-lg px-4 py-1.5 text-base font-semibold leading-7 text-gray-900 ring-1 ring-green-400 hover:ring-greem-500 shadow shadow-blue-400"
      >{title}</a
    >
  </p>